* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.fredoka-<uniquifier> {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

body {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

header {
    text-align: center;
}

header h1 {
    margin: 20px 0 40px 0;
    color: #e53170;
}

p {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

.container {
    padding: 0 20px;
    max-width: 1180px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}