/******
RESET
******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

header h1 {
    margin: 20px 0 40px 0;
    color: #e53170;
}

.d-flex {
  display: flex;
}

p {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

.container {
    padding: 0 20px;
    max-width: 1140px;
    margin: 0 auto;
}

.content {
    background-color: #0f0e17;
}

.content-image {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.content-image img {
    width: 100%;
    height: auto;
    display: block;
}

.content-info {
    flex-grow: 1;
    padding: 17px;
    color: white;
}

.content-info .role {
    margin: 2px 0;
}

.content-info a {
    text-decoration: none;
    color: lightblue;
}

.row {
    flex-wrap: wrap;
    margin: 0 15px;
}
  
.col {
  width: 100%;
  margin: 15px;
}

@media screen and (min-width: 760px) {
    .col {
        width: calc(100% / 2 - 30px);
      }  

      .content-image {
        width: 150px;
    }
}

@media screen and (min-width: 1024px) {
    .col {
        width: calc(100% / 3 - 30px);
      }  
}